@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Wealth Tracker</h1>
    <p>A basic site to manage your stocks around the world</p>
</div>

<div class="text-center">
    <h2>See your current stocks information in the table below</h2>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Company</th>
            <th scope="col">Symbol</th>
            <th scope="col">Current Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Wege</td>
            <td>WEGE3</td>
            <td>R$30,05</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Egie</td>
            <td>EGIE3</td>
            <td>R$42,95</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Itaú Holding</td>
            <td>ITSA4</td>
            <td>R$9,85</td>
        </tr>
    </tbody>
</table>