@{
    ViewData["Title"] = "Pesquisa de Ações";
}
@model Stock

<form asp-controller="StockData" asp-action="GetStockData">
    <div class="mb-3">
        <label for="stockSymbol" class="form-label">Please inform the symbol of your desired stock</label>
        <input type="text" asp-for="Symbol" class="form-control" id="stockSymbol" placeholder="Ex: EGIE3, ITSA4, PETR4">
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>


    <div>
        <p>Current price: @ViewBag.Quote</p>
    </div>
