@{
    ViewData["Title"] = "Pesquisa de Ações";
}
<form>
    <div class="mb-3">
        <label for="stockSymbol" class="form-label">Please inform the symbol of your desired stock</label>
        <input type="text" class="form-control" id="stockSymbol" placeholder="Ex: EGIE3, ITSA4, PETR4">
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>